*.png
*.safetensors
**/__pycache__/
BAD_BART_TestFineTunedCheckpoint/config.json
BAD_BART_TestFineTunedCheckpoint/generation_config.json
BAD_BART_TestFineTunedCheckpoint/merges.txt
BAD_BART_TestFineTunedCheckpoint/model.safetensors
BAD_BART_TestFineTunedCheckpoint/optimizer.pt
BAD_BART_TestFineTunedCheckpoint/rng_state.pth
BAD_BART_TestFineTunedCheckpoint/scheduler.pt
BAD_BART_TestFineTunedCheckpoint/special_tokens_map.json
BAD_BART_TestFineTunedCheckpoint/tokenizer_config.json
BAD_BART_TestFineTunedCheckpoint/tokenizer.json
BAD_BART_TestFineTunedCheckpoint/trainer_state.json
BAD_BART_TestFineTunedCheckpoint/training_args.bin
BAD_BART_TestFineTunedCheckpoint/vocab.json
BAD_latex_pseudocode_dataset_10K.hf/cache-1b48a80f3504f684.arrow
BAD_latex_pseudocode_dataset_10K.hf/cache-3f213686eda3d03d.arrow
BAD_latex_pseudocode_dataset_10K.hf/cache-5c80258d079253d8.arrow
BAD_latex_pseudocode_dataset_10K.hf/cache-9ad80bec95be6ce1_00000_of_00002.arrow
BAD_latex_pseudocode_dataset_10K.hf/cache-9ad80bec95be6ce1_00001_of_00002.arrow
BAD_latex_pseudocode_dataset_10K.hf/cache-9d297a0d89e29898.arrow
BAD_latex_pseudocode_dataset_10K.hf/cache-71e11bc40ef48856.arrow
BAD_latex_pseudocode_dataset_10K.hf/cache-533dc18b6a13c814_00000_of_00002.arrow
BAD_latex_pseudocode_dataset_10K.hf/cache-533dc18b6a13c814_00001_of_00002.arrow
BAD_latex_pseudocode_dataset_10K.hf/cache-709b1de7c8973b10_00000_of_00002.arrow
BAD_latex_pseudocode_dataset_10K.hf/cache-709b1de7c8973b10_00001_of_00002.arrow
BAD_latex_pseudocode_dataset_10K.hf/cache-511284d308b4035f.arrow
BAD_latex_pseudocode_dataset_10K.hf/cache-a943277d895509d8.arrow
BAD_latex_pseudocode_dataset_10K.hf/cache-ee2c8b4bf47c9f1e.arrow
BAD_latex_pseudocode_dataset_10K.hf/data-00000-of-00001.arrow
BAD_latex_pseudocode_dataset_10K.hf/dataset_info.json
BAD_latex_pseudocode_dataset_10K.hf/state.json
BAD_latex_pseudocode_dataset_validation_1K.hf/cache-3db695b2ca62936b_00000_of_00002.arrow
BAD_latex_pseudocode_dataset_validation_1K.hf/cache-3db695b2ca62936b_00001_of_00002.arrow
BAD_latex_pseudocode_dataset_validation_1K.hf/cache-3e601adce02090ab_00000_of_00002.arrow
BAD_latex_pseudocode_dataset_validation_1K.hf/cache-3e601adce02090ab_00001_of_00002.arrow
BAD_latex_pseudocode_dataset_validation_1K.hf/cache-6b40b678d1fe2743.arrow
BAD_latex_pseudocode_dataset_validation_1K.hf/cache-7a78c32b8dddcd85.arrow
BAD_latex_pseudocode_dataset_validation_1K.hf/cache-7c3341bddb0cf604.arrow
BAD_latex_pseudocode_dataset_validation_1K.hf/cache-41a9ef4ffec6e200.arrow
BAD_latex_pseudocode_dataset_validation_1K.hf/cache-04749a636a60c293.arrow
BAD_latex_pseudocode_dataset_validation_1K.hf/cache-7539cf617c5f75ce_00000_of_00002.arrow
BAD_latex_pseudocode_dataset_validation_1K.hf/cache-7539cf617c5f75ce_00001_of_00002.arrow
BAD_latex_pseudocode_dataset_validation_1K.hf/cache-37404f34249fbe80.arrow
BAD_latex_pseudocode_dataset_validation_1K.hf/cache-994444ad79bbbc79_00000_of_00002.arrow
BAD_latex_pseudocode_dataset_validation_1K.hf/cache-994444ad79bbbc79_00001_of_00002.arrow
BAD_latex_pseudocode_dataset_validation_1K.hf/cache-114864724823ac80.arrow
BAD_latex_pseudocode_dataset_validation_1K.hf/cache-a5bf904bcf070d11.arrow
BAD_latex_pseudocode_dataset_validation_1K.hf/cache-bed18244d1356699.arrow
BAD_latex_pseudocode_dataset_validation_1K.hf/cache-c0ee0b171228deff.arrow
BAD_latex_pseudocode_dataset_validation_1K.hf/cache-e18bcf650c2051df_00000_of_00002.arrow
BAD_latex_pseudocode_dataset_validation_1K.hf/cache-e18bcf650c2051df_00001_of_00002.arrow
BAD_latex_pseudocode_dataset_validation_1K.hf/data-00000-of-00001.arrow
BAD_latex_pseudocode_dataset_validation_1K.hf/dataset_info.json
BAD_latex_pseudocode_dataset_validation_1K.hf/state.json
BAD_TestFineTunedCheckpoint_seed3407/config.json
BAD_TestFineTunedCheckpoint_seed3407/generation_config.json
BAD_TestFineTunedCheckpoint_seed3407/model.safetensors
BAD_TestFineTunedCheckpoint_seed3407/optimizer.pt
BAD_TestFineTunedCheckpoint_seed3407/rng_state.pth
BAD_TestFineTunedCheckpoint_seed3407/scheduler.pt
BAD_TestFineTunedCheckpoint_seed3407/special_tokens_map.json
BAD_TestFineTunedCheckpoint_seed3407/tokenizer_config.json
BAD_TestFineTunedCheckpoint_seed3407/tokenizer.json
BAD_TestFineTunedCheckpoint_seed3407/train_log.txt
BAD_TestFineTunedCheckpoint_seed3407/trainer_state.json
BAD_TestFineTunedCheckpoint_seed3407/training_args.bin
bart_output/checkpoint-12500/config.json
bart_output/checkpoint-12500/generation_config.json
bart_output/checkpoint-12500/merges.txt
bart_output/checkpoint-12500/model.safetensors
bart_output/checkpoint-12500/optimizer.pt
bart_output/checkpoint-12500/rng_state.pth
bart_output/checkpoint-12500/scheduler.pt
bart_output/checkpoint-12500/special_tokens_map.json
bart_output/checkpoint-12500/tokenizer_config.json
bart_output/checkpoint-12500/tokenizer.json
bart_output/checkpoint-12500/trainer_state.json
bart_output/checkpoint-12500/training_args.bin
bart_output/checkpoint-12500/vocab.json
bart_output/checkpoint-25000/config.json
bart_output/checkpoint-25000/generation_config.json
bart_output/checkpoint-25000/merges.txt
bart_output/checkpoint-25000/model.safetensors
bart_output/checkpoint-25000/optimizer.pt
bart_output/checkpoint-25000/rng_state.pth
bart_output/checkpoint-25000/scheduler.pt
bart_output/checkpoint-25000/special_tokens_map.json
bart_output/checkpoint-25000/tokenizer_config.json
bart_output/checkpoint-25000/tokenizer.json
bart_output/checkpoint-25000/trainer_state.json
bart_output/checkpoint-25000/training_args.bin
bart_output/checkpoint-25000/vocab.json
BART_TestFineTunedCheckpoint/config.json
BART_TestFineTunedCheckpoint/generation_config.json
BART_TestFineTunedCheckpoint/merges.txt
BART_TestFineTunedCheckpoint/model.safetensors
BART_TestFineTunedCheckpoint/optimizer.pt
BART_TestFineTunedCheckpoint/rng_state.pth
BART_TestFineTunedCheckpoint/scheduler.pt
BART_TestFineTunedCheckpoint/special_tokens_map.json
BART_TestFineTunedCheckpoint/tokenizer_config.json
BART_TestFineTunedCheckpoint/tokenizer.json
BART_TestFineTunedCheckpoint/trainer_state.json
BART_TestFineTunedCheckpoint/training_args.bin
BART_TestFineTunedCheckpoint/vocab.json
CUSTOM_FineTunedCheckpoint_Phase1/config.json
CUSTOM_FineTunedCheckpoint_Phase1/generation_config.json
CUSTOM_FineTunedCheckpoint_Phase1/model.safetensors
CUSTOM_FineTunedCheckpoint_Phase1/optimizer.pt
CUSTOM_FineTunedCheckpoint_Phase1/rng_state.pth
CUSTOM_FineTunedCheckpoint_Phase1/scheduler.pt
CUSTOM_FineTunedCheckpoint_Phase1/trainer_state.json
CUSTOM_FineTunedCheckpoint_Phase1/training_args.bin
CUSTOM_FineTunedCheckpoint_Phase2/config.json
CUSTOM_FineTunedCheckpoint_Phase2/generation_config.json
CUSTOM_FineTunedCheckpoint_Phase2/model.safetensors
CUSTOM_FineTunedCheckpoint_Phase2/optimizer.pt
CUSTOM_FineTunedCheckpoint_Phase2/rng_state.pth
CUSTOM_FineTunedCheckpoint_Phase2/scheduler.pt
CUSTOM_FineTunedCheckpoint_Phase2/trainer_state.json
CUSTOM_FineTunedCheckpoint_Phase2/training_args.bin
CUSTOM_FineTunedCheckpoint_Phase2_Bad500Ep/config.json
CUSTOM_FineTunedCheckpoint_Phase2_Bad500Ep/generation_config.json
CUSTOM_FineTunedCheckpoint_Phase2_Bad500Ep/model.safetensors
CUSTOM_FineTunedCheckpoint_Phase2_Bad500Ep/optimizer.pt
CUSTOM_FineTunedCheckpoint_Phase2_Bad500Ep/rng_state.pth
CUSTOM_FineTunedCheckpoint_Phase2_Bad500Ep/scheduler.pt
CUSTOM_FineTunedCheckpoint_Phase2_Bad500Ep/trainer_state.json
CUSTOM_FineTunedCheckpoint_Phase2_Bad500Ep/training_args.bin
custom_model_output/checkpoint-500000/config.json
custom_model_output/checkpoint-500000/generation_config.json
custom_model_output/checkpoint-500000/model.safetensors
custom_model_output/checkpoint-500000/optimizer.pt
custom_model_output/checkpoint-500000/rng_state.pth
custom_model_output/checkpoint-500000/scheduler.pt
custom_model_output/checkpoint-500000/trainer_state.json
custom_model_output/checkpoint-500000/training_args.bin
custom_model_output/checkpoint-625000/config.json
custom_model_output/checkpoint-625000/generation_config.json
custom_model_output/checkpoint-625000/model.safetensors
custom_model_output/checkpoint-625000/optimizer.pt
custom_model_output/checkpoint-625000/rng_state.pth
custom_model_output/checkpoint-625000/scheduler.pt
custom_model_output/checkpoint-625000/trainer_state.json
custom_model_output/checkpoint-625000/training_args.bin
latex_pseudocode_dataset_test_1K.hf/cache-67c865eb99fb255e.arrow
latex_pseudocode_dataset_test_1K.hf/data-00000-of-00001.arrow
latex_pseudocode_dataset_test_1K.hf/dataset_info.json
latex_pseudocode_dataset_test_1K.hf/state.json
latex_pseudocode_dataset_train_10K.hf/cache-39a4084a15776e1b.arrow
latex_pseudocode_dataset_train_10K.hf/cache-add9867d6a977476.arrow
latex_pseudocode_dataset_train_10K.hf/cache-eafe0b17fa8b4749.arrow
latex_pseudocode_dataset_train_10K.hf/cache-fa670104a4b14026.arrow
latex_pseudocode_dataset_train_10K.hf/data-00000-of-00001.arrow
latex_pseudocode_dataset_train_10K.hf/dataset_info.json
latex_pseudocode_dataset_train_10K.hf/state.json
latex_pseudocode_dataset_validation_1K.hf/cache-08b38205b992b28c.arrow
latex_pseudocode_dataset_validation_1K.hf/cache-1507b864fe3b7b3e.arrow
latex_pseudocode_dataset_validation_1K.hf/cache-06608f65e724e869.arrow
latex_pseudocode_dataset_validation_1K.hf/cache-b9dfecf45a5ecb0a.arrow
latex_pseudocode_dataset_validation_1K.hf/cache-f8945e55deb72ca7.arrow
latex_pseudocode_dataset_validation_1K.hf/cache-fa2b60d2a46aac99.arrow
latex_pseudocode_dataset_validation_1K.hf/data-00000-of-00001.arrow
latex_pseudocode_dataset_validation_1K.hf/dataset_info.json
latex_pseudocode_dataset_validation_1K.hf/state.json
OldDatasets/latex_pseudocode_dataset_10K.hf/cache-3b7f4ea52fe46769.arrow
OldDatasets/latex_pseudocode_dataset_10K.hf/cache-6e4a7a4ea5e1e33d.arrow
OldDatasets/latex_pseudocode_dataset_10K.hf/cache-61d0b0133a2ca094.arrow
OldDatasets/latex_pseudocode_dataset_10K.hf/cache-91f710de4d26e53f.arrow
OldDatasets/latex_pseudocode_dataset_10K.hf/cache-93f1aac0ab8faaad.arrow
OldDatasets/latex_pseudocode_dataset_10K.hf/cache-57643553626703c8.arrow
OldDatasets/latex_pseudocode_dataset_10K.hf/data-00000-of-00001.arrow
OldDatasets/latex_pseudocode_dataset_10K.hf/dataset_info.json
OldDatasets/latex_pseudocode_dataset_10K.hf/state.json
OldDatasets/latex_pseudocode_dataset_10K_EXPLICIT_VARS.hf/cache-70a466146981c7cb_00000_of_00002.arrow
OldDatasets/latex_pseudocode_dataset_10K_EXPLICIT_VARS.hf/cache-70a466146981c7cb_00001_of_00002.arrow
OldDatasets/latex_pseudocode_dataset_10K_EXPLICIT_VARS.hf/cache-924a5ac1da0028ec.arrow
OldDatasets/latex_pseudocode_dataset_10K_EXPLICIT_VARS.hf/cache-50526c28f1fddcdd.arrow
OldDatasets/latex_pseudocode_dataset_10K_EXPLICIT_VARS.hf/cache-a3e36e0bdc7a88f5.arrow
OldDatasets/latex_pseudocode_dataset_10K_EXPLICIT_VARS.hf/cache-b05203de8ef7adcd.arrow
OldDatasets/latex_pseudocode_dataset_10K_EXPLICIT_VARS.hf/cache-eb472cb3bc071488.arrow
OldDatasets/latex_pseudocode_dataset_10K_EXPLICIT_VARS.hf/data-00000-of-00001.arrow
OldDatasets/latex_pseudocode_dataset_10K_EXPLICIT_VARS.hf/dataset_info.json
OldDatasets/latex_pseudocode_dataset_10K_EXPLICIT_VARS.hf/state.json
OldDatasets/latex_pseudocode_dataset_test_noFun_1K.hf/data-00000-of-00001.arrow
OldDatasets/latex_pseudocode_dataset_test_noFun_1K.hf/dataset_info.json
OldDatasets/latex_pseudocode_dataset_test_noFun_1K.hf/state.json
OldDatasets/latex_pseudocode_dataset_validation_1K.hf/cache-046c6e0bb7ad3ef3.arrow
OldDatasets/latex_pseudocode_dataset_validation_1K.hf/cache-57e71307a051d624.arrow
OldDatasets/latex_pseudocode_dataset_validation_1K.hf/cache-74aecdeb8f553175.arrow
OldDatasets/latex_pseudocode_dataset_validation_1K.hf/cache-9483e51bb33c8a23.arrow
OldDatasets/latex_pseudocode_dataset_validation_1K.hf/cache-7059983e4c845e5e.arrow
OldDatasets/latex_pseudocode_dataset_validation_1K.hf/cache-aac1c51a634ffc9f.arrow
OldDatasets/latex_pseudocode_dataset_validation_1K.hf/cache-af672b2cb63f4b47.arrow
OldDatasets/latex_pseudocode_dataset_validation_1K.hf/cache-e3169a1386725212.arrow
OldDatasets/latex_pseudocode_dataset_validation_1K.hf/cache-fb7f0ff6bd36565e.arrow
OldDatasets/latex_pseudocode_dataset_validation_1K.hf/cache-fb26154e03e855ea.arrow
OldDatasets/latex_pseudocode_dataset_validation_1K.hf/cache-fcaa551c7fa087bd.arrow
OldDatasets/latex_pseudocode_dataset_validation_1K.hf/data-00000-of-00001.arrow
OldDatasets/latex_pseudocode_dataset_validation_1K.hf/dataset_info.json
OldDatasets/latex_pseudocode_dataset_validation_1K.hf/state.json
OldDatasets/latex_pseudocode_dataset_validation_1K_EXPLICIT_VARS.hf/cache-1aefed32fea973c6.arrow
OldDatasets/latex_pseudocode_dataset_validation_1K_EXPLICIT_VARS.hf/cache-4e60f072f703a72a.arrow
OldDatasets/latex_pseudocode_dataset_validation_1K_EXPLICIT_VARS.hf/cache-6f2d13481316c6f6.arrow
OldDatasets/latex_pseudocode_dataset_validation_1K_EXPLICIT_VARS.hf/cache-12ff8965208d3eeb.arrow
OldDatasets/latex_pseudocode_dataset_validation_1K_EXPLICIT_VARS.hf/cache-44cfe4902e3fe8ed.arrow
OldDatasets/latex_pseudocode_dataset_validation_1K_EXPLICIT_VARS.hf/cache-65a03287f4edd701.arrow
OldDatasets/latex_pseudocode_dataset_validation_1K_EXPLICIT_VARS.hf/cache-75af59cf80522c93.arrow
OldDatasets/latex_pseudocode_dataset_validation_1K_EXPLICIT_VARS.hf/cache-89459ac1e27e4005.arrow
OldDatasets/latex_pseudocode_dataset_validation_1K_EXPLICIT_VARS.hf/cache-e6a4fca1fb117419_00000_of_00002.arrow
OldDatasets/latex_pseudocode_dataset_validation_1K_EXPLICIT_VARS.hf/cache-e6a4fca1fb117419_00001_of_00002.arrow
OldDatasets/latex_pseudocode_dataset_validation_1K_EXPLICIT_VARS.hf/data-00000-of-00001.arrow
OldDatasets/latex_pseudocode_dataset_validation_1K_EXPLICIT_VARS.hf/dataset_info.json
OldDatasets/latex_pseudocode_dataset_validation_1K_EXPLICIT_VARS.hf/state.json
OldModels/CUSTOM384_TestFineTunedCheckpoint_Phase1_EXPLICIT_VARS/config.json
OldModels/CUSTOM384_TestFineTunedCheckpoint_Phase1_EXPLICIT_VARS/generation_config.json
OldModels/CUSTOM384_TestFineTunedCheckpoint_Phase1_EXPLICIT_VARS/model.safetensors
OldModels/CUSTOM384_TestFineTunedCheckpoint_Phase1_EXPLICIT_VARS/optimizer.pt
OldModels/CUSTOM384_TestFineTunedCheckpoint_Phase1_EXPLICIT_VARS/rng_state.pth
OldModels/CUSTOM384_TestFineTunedCheckpoint_Phase1_EXPLICIT_VARS/scheduler.pt
OldModels/CUSTOM384_TestFineTunedCheckpoint_Phase1_EXPLICIT_VARS/trainer_state.json
OldModels/CUSTOM384_TestFineTunedCheckpoint_Phase1_EXPLICIT_VARS/training_args.bin
OldModels/CUSTOM_TestFineTunedCheckpoint_Phase1/config.json
OldModels/CUSTOM_TestFineTunedCheckpoint_Phase1/generation_config.json
OldModels/CUSTOM_TestFineTunedCheckpoint_Phase1/model.safetensors
OldModels/CUSTOM_TestFineTunedCheckpoint_Phase1/optimizer.pt
OldModels/CUSTOM_TestFineTunedCheckpoint_Phase1/rng_state.pth
OldModels/CUSTOM_TestFineTunedCheckpoint_Phase1/scheduler.pt
OldModels/CUSTOM_TestFineTunedCheckpoint_Phase1/trainer_state.json
OldModels/CUSTOM_TestFineTunedCheckpoint_Phase1/training_args.bin
OldModels/CUSTOM_TestFineTunedCheckpoint_Phase1_EXPLICIT_VARS/config.json
OldModels/CUSTOM_TestFineTunedCheckpoint_Phase1_EXPLICIT_VARS/generation_config.json
OldModels/CUSTOM_TestFineTunedCheckpoint_Phase1_EXPLICIT_VARS/model.safetensors
OldModels/CUSTOM_TestFineTunedCheckpoint_Phase1_EXPLICIT_VARS/optimizer.pt
OldModels/CUSTOM_TestFineTunedCheckpoint_Phase1_EXPLICIT_VARS/rng_state.pth
OldModels/CUSTOM_TestFineTunedCheckpoint_Phase1_EXPLICIT_VARS/scheduler.pt
OldModels/CUSTOM_TestFineTunedCheckpoint_Phase1_EXPLICIT_VARS/trainer_state.json
OldModels/CUSTOM_TestFineTunedCheckpoint_Phase1_EXPLICIT_VARS/training_args.bin
OldModels/CUSTOM_TestFineTunedCheckpoint_Phase2_EXPLICIT_VARS/config.json
OldModels/CUSTOM_TestFineTunedCheckpoint_Phase2_EXPLICIT_VARS/generation_config.json
OldModels/CUSTOM_TestFineTunedCheckpoint_Phase2_EXPLICIT_VARS/model.safetensors
OldModels/CUSTOM_TestFineTunedCheckpoint_Phase2_EXPLICIT_VARS/optimizer.pt
OldModels/CUSTOM_TestFineTunedCheckpoint_Phase2_EXPLICIT_VARS/rng_state.pth
OldModels/CUSTOM_TestFineTunedCheckpoint_Phase2_EXPLICIT_VARS/scheduler.pt
OldModels/CUSTOM_TestFineTunedCheckpoint_Phase2_EXPLICIT_VARS/trainer_state.json
OldModels/CUSTOM_TestFineTunedCheckpoint_Phase2_EXPLICIT_VARS/training_args.bin
OldModels/Llama_3.2_TestFineTunedCheckpoint_seed3407/config.json
OldModels/Llama_3.2_TestFineTunedCheckpoint_seed3407/generation_config.json
OldModels/Llama_3.2_TestFineTunedCheckpoint_seed3407/model.safetensors
OldModels/Llama_3.2_TestFineTunedCheckpoint_seed3407/optimizer.pt
OldModels/Llama_3.2_TestFineTunedCheckpoint_seed3407/rng_state.pth
OldModels/Llama_3.2_TestFineTunedCheckpoint_seed3407/scheduler.pt
OldModels/Llama_3.2_TestFineTunedCheckpoint_seed3407/special_tokens_map.json
OldModels/Llama_3.2_TestFineTunedCheckpoint_seed3407/tokenizer_config.json
OldModels/Llama_3.2_TestFineTunedCheckpoint_seed3407/tokenizer.json
OldModels/Llama_3.2_TestFineTunedCheckpoint_seed3407/trainer_state.json
OldModels/Llama_3.2_TestFineTunedCheckpoint_seed3407/training_args.bin
test_dataset_with_edit_distances.hf/data-00000-of-00001.arrow
test_dataset_with_edit_distances.hf/dataset_info.json
test_dataset_with_edit_distances.hf/state.json
test_dataset_with_outputs.hf/data-00000-of-00001.arrow
test_dataset_with_outputs.hf/dataset_info.json
test_dataset_with_outputs.hf/state.json
